@charset "utf-8";
/* CSS Document */
html body {
	background: #4B4B4B;
	color: white;
}

.peoplecontainer{
	border-radius: 20;
	border:2px #909090;
}
.whitebg{
	background-color: white;
}


/* main page css above here*/
/*sign up page CSS under here */
.border-signup{
	border: 2px solid #181818;
	border-radius: 10px;
}
.smal-input{
	margin: auto;
	width: 160px;
}
.gender{
	width: auto !important;
	display: inline-block;
}
.profileListing{
    border: 3px solid #000000;
    border-radius: 10px;
    background-color: #1D1D1D;
}
.profileListing a {
    color: #6DCFFF;
    text-decoration: underline;
}
#signup{
	margin: 10px auto;
	padding: 20px 0px;
    text-align: center;
}
form{
	text-align: center;
}
input {
    width: 50%;
    padding: 12px 20px;
	margin: 10px auto !important;
	border-radius: 20px;
	box-sizing: border-box;
}

input:focus{
	border-color: antiquewhite;
	background-color: lightgray;
	color: black;
}
button #insertNew{
	width: 50%;
    padding: 12px 20px;
	margin: 10px auto !important;
	border-radius: 20px;
	box-sizing: border-box;
}
fieldset div{
	text-align: center;
	margin: 0px auto;
	padding: 10px 5px;
}
fieldset label{
	text-decoration-style: solid;
	text-decoration: underline;
	font-size: 20px;
}