@charset "utf-8";
/* CSS Document */
html body {
	background: #4B4B4B;
	color: white;
}

.peoplecontainer{
	border-radius: 20;
	border:2px #909090;
}

/* main page css above here*/
/*sign up page CSS under here */
.border-signup{
	border: 2px solid #181818;
	border-radius: 10px;
}
.smal-input{
	margin: auto;
	width: 160px;
}
.gender{
	width: auto !important;
	display: inline-block;
}

.listings{
    background-color: #2E2E2E;
    border: solid 2px #000000;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
#listingsAll{
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    margin: 40px 40px 100px;
}
#signup{
	margin: 10px auto;
	padding: 20px 0px;
}
form{
	text-align: center;
}
input {
    width: 50%;
    padding: 12px 20px;
	margin: 10px auto !important;
	border-radius: 20px;
	box-sizing: border-box;
}

input:focus{
	border-color: antiquewhite;
	background-color: lightgray;
	color: black;
}
button #insertNew{
	width: 50%;
    padding: 12px 20px;
	margin: 10px auto !important;
	border-radius: 20px;
	box-sizing: border-box;
}
fieldset div{
	text-align: center;
	margin: 0px auto;
	padding: 10px 5px;
}
fieldset label{
	text-decoration-style: solid;
	text-decoration: underline;
	font-size: 20px;
}